{{ define "main" }}
  {{ $bearer := printf "%s" .Site.Params.itch | printf "%s%s" "Bearer " }}
  {{ $data := getJSON "https://itch.io/api/1/key/my-games" (dict "Authorization" $bearer )  }}
  {{ $image := resources.Get "logo.png" }}
  {{ $image := $image.Resize "600x" }}
	<main>
    <div id="banner">
      <img src="{{ $image.RelPermalink }}" class="logo" />
      <h1>badcop.games</h1>
    </div>
    <div class="container">
      <h2>Games</h2>
    <div id="games">
    {{ $games := where $data.games ".published" "==" true }}
		{{ range sort $games ".created_at" "desc" }}
    <div class="game">
    <a href="{{ .url }}">
      <img src="{{ .cover_url }}" />
      <div class="desc"><h3>{{ .title }}</h3></div>
    </a>
    </div>
		{{ end }}
    </div>
    </div>
	</main>
{{ end }}
