.logo {
  max-width: 50vw;
  max-height: 50vh;
  object-fit: contain;
  transition: transform 0.2s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #144486;
}

#banner {
  background-color: #2464b6;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: Gluten;
  src: url("../gluten.woff2") format("woff2-variations");
  font-weight: 1 999;
}

#banner h1 {
  font-weight: normal;
  margin-top: 2vh;
  font-size: 72px;
  font-family: Gluten, Verdana;
}

#games {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-gap: 40px;
}
.game {
  background-color: #61a0f1;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-out;
}

.game img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  margin: 80px;
}
.container h2 {
  color: white;
  font-family: Gluten, Verdana;
  font-size: 50px;
  font-weight: normal;
  width: 100%;
  text-align: center;
}
.game:hover {
  transform: scale(1.1);
}
.game .desc {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  transform: translateY(-120px);
  transition: transform 0.2s ease-out;
}

.game .desc h3 {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Gluten, Verdana;
  font-size: 24px;
  padding: 18px;
}
.game .desc:hover {
  transform: translateY(-24px);
}
